{% extends 'base.html.twig' %}

{% block title %} Now magazyn {% endblock %}

{% block content %}
    <div class="container">
        {% if stockForm is defined %}
            <h1>Nowy magazyn</h1>
            {% form_theme stockForm 'bootstrap_5_layout.html.twig' %}
            {{ form_start(stockForm) }}
            {{ form_row(stockForm.name) }}

            <button type="submit" class="btn btn-primary mb-3">Dodaj nowy magazyn</button>
            {{ form_end(stockForm) }}
        {% endif %}
    </div>
    <div class="container pt-5 pb-5">
        {% if newStock is defined %}
            Magazyn został poprawnie utworzony
        {% endif %}
    </div>
{% endblock %}
