{% extends 'base.html.twig' %}

{% block title %} Lista magazynów {% endblock %}

{% block content %}
    <div class="container">
        {% for stock in stocks %}
            {{ stock.name }} - {{ stock.id}} <br>
        {% endfor %}
    </div>
{% endblock %}
